@mixin case($width:25rem, $radius:1.2rem, $text:center) {
    width: $width;
    border-radius: $radius;
    text-align: $text;
    margin: .7rem 0;
    padding: .7rem 0;
    @media only screen and (max-width: 420px) {
        width: 100%;
        margin: .2rem 0;
        padding: 0;
    }
    @media only screen and (min-width: 520px) and (max-width: 920px) {
        margin: .2rem;
    }
    
    .name {
        display: block;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $color-secondary;
        @media only screen and (max-width: 1099px) {
            font-size: 1.4rem;
        }
    }
    .total {
        font-size: 2.6rem;
        font-weight: 600;
        @media only screen and (max-width: 1099px) {
            font-size: 1.8rem;
        }
    }
    .new {
        position: relative;
        top: -.4rem;
        left: .5rem;
        font-size: 1.5rem;
        @media only screen and (max-width: 920px) {
            font-size: 1.2rem;
            top: 0;
        }
    }
}

@mixin case_color($color) {
    background-color: rgba($color, 0.1);
    color: $color;
}