// COLORS
$color-primary: #EB5666;
$color-secondary: #210BFE;

$color-white: #fff;
$color-black: #000;
$color-gray: #ececec;

$color-confirmed: #ff5a0d;
$color-recovered: #006721;
$color-deaths: #EB5666;