.country-data {
    .header {
        margin: 2rem 0;
        padding: 3rem 2rem;
        border-radius: .8rem;
        background-color: rgba($color-recovered, 0.6);
        color: $color-white;
        font-size: 1.8rem;
        @media only screen and (max-width: 920px) {
            padding: 1.5rem 2rem;
            text-align: center;
            font-size: 1.6rem;
        }

        .report-date {
            top: .5rem;
            @media only screen and (max-width: 920px) {
                top: 0;
            }
        }
        .options {
            @media only screen and (max-width: 920px) {
                justify-content: center !important;
            }
        }
        .my-country {
            padding: 0 3rem;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            margin-right: 1rem;
            @media only screen and (max-width: 599px) {
                margin: .5rem 0;
            }
        }
        .select-country {
            width: 28rem;
            @media only screen and (min-width: 1024px) and (max-width: 1099px) {
                width: 20rem;
            }
        }
        .ant-select-selector {
            height: 4rem;
            padding: .4rem 1.5rem;
            border: transparent;
            border-radius: .8rem;
            font-size: 1.6rem;
        }
    }

    .content {
        padding: 2rem;
        background-color: rgba($color-secondary, 0.1);
        border-radius: .8rem;
        @media only screen and (max-width: 420px) {
            padding: 1rem;
        }

        .country {
            position: absolute;
            text-align: center;
            @media only screen and (max-width: 920px) {
                position: unset;
            }    
            
            .name {
                text-transform: uppercase;
                font-size: 2rem;
            }
            .case {
                @include case;
                @media only screen and (min-width: 520px) and (max-width: 920px) {
                    width: 100%;
                }
            }
            .case_confirmed {
                @include case_color($color-confirmed);
            }
            .case_recovered {
                @include case_color($color-recovered);
            }
            .case_deaths {
                @include case_color($color-deaths);
            }
        }
    }
}