.table {
    background-color: rgba($color-secondary, 0.1);
    border-radius: .8rem;
    padding: 1.5rem;
    margin: 2rem 0;

    .search {
        position: relative;

        &_box {
            width: 100%;
            border: .3rem solid $color-primary;
            margin: 1rem 0;
        }
        &_filter {
            background-color: $color-primary;
            color: $color-white;
            padding: .3rem 1rem;
            border-radius: .5rem;
            cursor: pointer;
            position: absolute;
            top: 1.5rem;
            right: .6rem;
        }
    }

    .ConfirmedCase, .DeathCase, .RecoveredCase {
        font-weight: 600;
    }
    .ConfirmedCase { color: $color-confirmed; }
    .DeathCase { color: $color-danger; }
    .RecoveredCase { color: $color-recovered; }
}