.topnav {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: transparent;

    .logo {
        float: left;
        
        img {
            width: 13.5rem;
        }
    }
}