.topnav {
    position: fixed;
    z-index: 999;
    width: 100%;

    .logo {
        float: left;
        font-size: 2.2rem;
        font-weight: 600;
        color: $color-primary;

        .covid19 {
            margin: 0 .25rem;
            img {
                position: relative;
                top: -.2rem;
                animation: spin 4s linear infinite;
            }
        }
    }

    .time {
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-primary;

        .today {
            margin-right: 1.5rem;
        }
    }

    &_bg_transparent {
        background-color: transparent;
    }

    &_bg_white {
        background-color: rgba($color-white, 0.6);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}