.section_map {
    position: relative;

    .global, .mapcase {
        position: absolute;
        z-index: 1;
    }

    .global {
        text-align: center;
        left: 3rem;
        top: 18rem;

        &_head {
            img {
                position: relative;
                top: -.3rem;
            }
            .text {
                text-transform: uppercase;
                font-size: 2rem;
                margin-left: .6rem;
            }
        }

        .case {
            @include case;
        }
        .case_confirmed {
            @include case_color($color-confirmed);
        }
        .case_recovered {
            @include case_color($color-recovered);
        }
        .case_deaths {
            @include case_color($color-deaths);
        }
    }

    .mapcase {
        right: 10rem;
        bottom: 12rem;

        &_options {
            display: flex;
            flex-direction: column;
            label {
                padding: .8rem 0;
                font-size: 1.6rem;
            }
        }
    }

}